<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment [scrollable]="true" value="0" (ionChange)="handleCategory($event)">
      <ion-segment-button
        mode="md"
        *ngFor="let category of communityCategories"
        value="{{ category.code }}"
      >{{ category.name }}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let card of dataList">
    <community-card (emitValue)="clickedCard($event)" [card]="card"></community-card>
  </div>
</ion-content>
