
ion-card {
  margin: 20px;
  .img-wrapper {
    position: relative;
    height: 24vh;
    overflow: hidden;
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);      
    }
  }
}

ion-card-title {
  color: #1C1B1F;
  font-weight: 500;
}

ion-card-content {
  .registerer-name {
    color: #49454F;
  }
}

.counted-item-wrapper {
  ion-icon {
    display: inline-block;
    vertical-align: middle;
  }
  ion-icon[name="heart"],
  ion-icon[name="heart-outline"] {
    color: #FC7C54;
  }
  .counted-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh;
  }
}
